@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
  --gutters: 200px;
}

body {
  margin: 0;
  background-color: #FEFFFE;
}

* {
  font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 1200px) {
  :root {
    --gutters: 100px;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --gutters: 20px;
  }
}