@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
  --gutters: 200px;

  --color-base: #FEFFFE;
  --color-inverse: #2C363F;
  --color-inverse-light: #47515a;
  --color-primary: #05A8AA;
  --color-secondary: #F8C630;
  --color-third: #F96E46;
}

body {
  margin: 0;
  background-color: var(--color-base);
}

* {
  font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 1200px) {
  :root {
    --gutters: 100px;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --gutters: 20px;
  }
}