.topnav {
   overflow: hidden;
   background-color: #2C363F;
   padding: 0 var(--gutters);
}

.nav-menu {
  padding: 8px;
  margin: 0;
}

.nav-menu li {
  display: inline-block;
  text-align: center;
  height: 100%;
  margin-right: 10px;
}

.nav-menu li:last-child {
  margin-right: 0;
}

.nav-menu li a {
  text-decoration: none;
  display: block;
  color: #FEFFFE;
  padding: 8px 15px;
  border-radius: 5px;
}

.nav-menu li a:hover {
  color: #FEFFFE;
  background-color: #47515a;
}

.nav-menu li a.nav-active {
  color: #2C363F;
  background-color: #FEFFFE;
}

.nav-menu li.nav-hamburger {
  float: right;
  display: none;
  vertical-align: center;
}

.nav-menu li.nav-hamburger a svg {
  vertical-align: top;
}

@media screen and (max-width: 430px) {
  .nav-menu li:not(:first-child) {
    display: none;
    align-items: center;
  }

  .nav-menu li.nav-hamburger {
    display: inline-block;
  }

  .topnav.responsive div li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .topnav.responsive div li:last-child {
    margin-bottom: 0;
  }

  .topnav.responsive {
    padding: 0;
  }

  .topnav.responsive div ul li {
    display: block;
    float: none;
  }
}