.topnav {
   overflow: hidden;
   background-color: #333;
   padding: 0 var(--gutters);
}

.nav-menu {
  padding: 0;
  margin: 0;
}

.nav-menu li {
  display: inline-block;
  text-align: center;
  height: 100%;
}

.nav-menu li a {
  text-decoration: none;
  display: block;
  font-size: 17px;
  color: #f2f2f2;
  padding: 14px 16px;
}

.nav-menu li a.nav-active {
  background-color: #4CAF50;
  color: white;
}

.nav-menu li a:hover {
  background-color: #ddd;
  color: black;
}

.nav-menu li.nav-hamburger {
  float: right;
}

@media screen and (max-width: 600px) {

}